<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="usuario">
    <select id="usuarios" resultType= "modelo.pojo.Usuario">
        SELECT* FROM usuario;
    </select>
     <select id="busquedaUsername" parameterType="String" resultType="modelo.pojo.Usuario">
        SELECT* FROM  `usuario` WHERE username = #{username}
    </select >
     <select id="busquedaCurp" parameterType="String" resultType="modelo.pojo.Usuario">
        SELECT* FROM  `usuario` WHERE curp = #{curp}
    </select >
        <select id="busquedaEmpresa" parameterType="String" resultType="modelo.pojo.Usuario">
        SELECT* FROM  `usuario` WHERE idEmpresa = #{idEmpresa}
    </select >   
      <select id="login" resultType="modelo.pojo.Usuario" parameterType="map">
        SELECT * FROM usuario WHERE username = #{username} AND contrasena = #{contrasena};
    </select>
    
    <delete id="eliminar" parameterType = "int" >
        DELETE FROM  `usuario`
        WHERE `idUsuario` = #{idUsuario};
    </delete>
    
    <insert id="registrar" parameterType="modelo.pojo.Usuario">
        INSERT INTO  `usuario`
    (
    `idEmpresa`,
    `nombre`,
    `rol`,
    `username`,
    `contrasena`,
    `curp`,
    `correo`,
    `apellidoP`,
    `apellidoM`)
    VALUES
    (
    #{idEmpresa},
    #{nombre},
    #{rol},
    #{username},
    #{contrasena},
    #{curp},
    #{correo},
    #{apellidoP},
    #{apellidoM});
    </insert>
    
    <update id="actualizar" parameterType="modelo.pojo.Usuario">
    UPDATE  `usuario`
    SET
        `idEmpresa`=#{idEmpresa},
        `rol`=#{rol},
    `nombre` = #{nombre},
    `username` = #{username},
    `contrasena` = #{contrasena},
    `curp` = #{curp},
    `correo` = #{correo},
    `apellidoP` = #{apellidoP},
    `apellidoM` = #{apellidoM}
    WHERE `idUsuario` = #{idUsuario};   
    </update>
</mapper>